*{margin: 20px;}
.post-1{ 
 background-color: #34495E; 
 border-radius: 20px;
padding: 21px;
}
.post-2{
    background-color: #34495E; 
    border-radius: 20px;
   padding: 21px; 
}
.post-3{
    background-color: #34495E; 
 border-radius: 20px;
padding: 21px;
}